body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("/Imagens/Background.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
}
  
.container {
  text-align: center;
  padding: 20px;
}

.container p{
  color: rgb(231, 231, 231);
}

.container :hover{
  color: rgb(76, 79, 125);
}
  
.page-title {
  color: #ffffff;
  margin: 0 0 5px;
  text-decoration: none;
  font-size: 38px;
}
  
body > img {
  margin: 0 10px;
}

.conversao {
  width: 20%;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
}

#fraseconvert{
  margin-top: 20px;
}

.conversao label{
  color: white;
}

.botoes-tipo{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 5%;
}

.botoes-tipo a{
  background-color: white;
  color: black;
  border: none;
  padding: 8px;
  border-radius: 7px;
  text-decoration: none;
}

.botoes-tipo :hover{
  background-color: rgb(29, 96, 204);
  color: white;
}