body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("/Imagens/Background.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
}
  
.container {
  text-align: center;
  padding: 20px;
}
  
.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}
  
.page-logo {
  width: 200px;
}
  
body > img {
  margin: 0 10px;
}

.conversao {
  width: 20%;
  text-align: center;
  margin: 0 auto;
}

.conversao label{
  color: white;
}

.botoes-tipo{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.botoes-tipo button{
  background-color: white;
}